<!DOCTYPE HTML>
<html>

<head>
    <title>AwesomeComments</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="static/assets/css/main.css" />
</head>

<body class="is-preload">

    <header id="header">
        <h1>AwesomeComments</h1>
        <p>
            Enter the URL of a Tweet to analyze the sentiment of the converation and detect if cyberbullying is
            occurring
        </p>
    </header>

    <form id="text-form" method="post" action="/result">
        <input type="text" id="tweet_url" name="tweet_url" required autocomplete="off" placeholder="Tweet URL">
        <input type="submit" value="Submit" />
    </form>

    {% block result %}
    {% endblock %}

    <footer id="footer">
        <ul class="icons">
            <li>
                <a href="https://github.com/Mvgrillo1357/AwesomeComments" class="icon brands fa-github">
                    <span class="label">GitHub</span>
                </a>
            </li>
            <li>
                <a href="#" class="icon fa-envelope">
                    <span class="label">Email</span>
                </a>
            </li>
        </ul>
        <div id="footer-nittany">
            <a href="https://www.psu.edu/"><img src="static/images/psu.png" /></a>
        </div>
    </footer>

    <script src="static/assets/js/main.js"></script>

</body>

</html>